# actual data files
data

# intermediate LaTeX files
aux
*.synctex.gz

# Python interpreter files
venv
__pycache__

# Python project files
*.egg-info

# R files/directories
.Rproj.user
.RData
.RHistory
